
/*#navbar{
    position: fixed;
    width:100%;
    display:flex;
    justify-content:center;
    align-content:center;
}*/
.container ul{
    display:flex;
    justify-content:center;
    align-content:center;
}
ul li{
    list-style: none;
}
ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 0.875em;
    padding: 1em;
    letter-spacing: 1px;
    white-space: nowrap;
    /*transition: border-bottom 2s;*/
}
.container ul li a:hover{
    border-bottom: 3px solid;
    background-color: rgba(206, 170, 170, 0.267);
    text-transform: uppercase;
}
.header{
    background: url("Coronavirus-1.jpg") no-repeat center;
    height:100vh;
    padding:20px;
    background-size: cover;
}
.header h1{
    margin:0;
    font-weight: 900;
    font-size: 5rem;
    color:white;
    text-align: center;
    margin-top:300px;
}
.flex1{
    background-color:rgb(30, 38, 44);
    text-align: center;
}
.flex2{
    background-color: rgb(0, 70, 49);
    text-orientation: sideways-right;
/*text-align: center;*/
}
.flex-child{
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: white;
    font-size:1rem;
    font-family: /*'Gill Sans MT', */Calibri/*, 'Trebuchet MS', sans-serif;*/
}
.flex-child h1{
    font-weight: 900;
    text-align: center;
    font-size: 3rem;
}
.container2_2{
    padding-left: 15rem;
}
#prevention{
    background: url("coronavirus-2.jpeg")/* no-repeat center*/;
    padding:20px;
    background-size: cover;
}
.footer{
    background-color: black;
    display: flex;
}
#container_3 ul li a:hover{
    border-right: 3px solid;
    background-color: rgba(206, 170, 170, 0.267);
    text-transform: uppercase;
}
#container_3 ul li{
    padding-top:1rem;
}
#container_3{
    text-align: right;
}
#whatsapp a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    padding: 1em;
    letter-spacing: 1px;
    white-space: nowrap;
    /*transition: border-bottom 2s;*/
}
#whatsapp a:hover{
    color:rgb(241, 47, 47) ;
}
#whatsapp{
    margin-top: 10px;
    background-color: rgb(241, 47, 47);
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    border:none;
    font-size: 30px;
    border-radius: 20rem;
}
#whatsapp:hover{
    background-color:white /* rgb(252, 73, 73)*/;
    color: rgb(241, 47, 47)/* white*/;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;
    /*transition: border-bottom 2s;*/
}